<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    
    <h3>Vaccination Schedule System</h3>
    <ul>
        <li><a href="/patient/creation">Add a patient</a></li>
        <li><a href="/administration">Administer Vaccinations</a></li>
    </ul>
   
</body>
</html>